<div class="card my-3">
    <div class="card-body">
        <div class="card-text">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Вам необходимо оценить, сколько из 100 участников, которые, как и вы, принимают участие в этом
                    исследовании и подбрасывают монетку,
                    укажут, что им выпал <b>Орел</b>.

                </li>

                {% if  subsession.solo %}

                    <li class="list-group-item">
                        Если ваша оценка будет отличаться от истинного значения не больше чем на 10 единиц, то за
                        такую оценку вы получаете дополнительный бонус {{ subsession.get_cg_belief_bonus }}.
                    <li class="list-group-item">
                        <b>Пример 1:</b> 50 человек из 100, принявших участие в исследовании, ответили, что у них выпал
                        Орел. Вы предположили,
                        что
                        ответ "Орел" дадут 60 человек из 100. Разница между вашим ответом и истинным значением: <b>10
                        единиц</b>.
                        В этом случае ваш дополнительный бонус за верный ответ
                        составит {{ subsession.get_cg_belief_bonus }}.
                    </li>
                {% else %}
                    <li class="list-group-item">

                        В этом исследовании принимают участие люди из трех регионов России.
                    </li>
                    <li class="list-group-item">
                        Про каждый из регионов вам будет необходимо предположить, сколько из 100 участников, бросивших
                        монетку, укажут, что им выпал <b>Орел</b>.
                    </li>
                    <li class="list-group-item">
                        Если ваша оценка будет отличаться от истинного значения не больше чем на 10 единиц, то <b>за каждую
                        такую верную оценку</b> в каждом из регионов вы получаете дополнительный
                        бонус {{ subsession.get_cg_belief_bonus }}.
                    </li>
                    <li class="list-group-item">
                        <b>Пример 1:</b> В регионе X 50 из 100 человек ответили, что у них выпал Орел. Вы предположили,
                        что
                        ответ "Орел" дадут 60 человек из 100. Разница между вашим ответом и истинным значением: <b>10
                        единиц</b>.
                        В этом случае ваш дополнительный бонус за верный ответ про
                        этот регион
                        составит {{ subsession.get_cg_belief_bonus }}.
                    </li>
                    <li class="list-group-item">
                        <b>Пример 2:</b> В регионе Y 70 из 100 человек ответили, что у них выпал Орел. Вы предположили,
                        что
                        ответ "Орел" дадут 50 человек из 100. Разница между вашим ответом и истинным значением: <b>20
                        единиц</b>.
                        В этом случае ваш дополнительный бонус за верный ответ про
                        этот регион
                        составит 0.
                    </li>
                {% endif %}
            </ul>

        </div>
    </div>
</div>