{% load otree %}
<div class="card my-3">
    <div class="card-header">
        Инструкции
    </div>
    <div class="card-body">
        <div class="card-text">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            Участники исследования объединяются в пары: один из участников становится Участником А, а
                            второй - участником Б.
                        </li>
                        <li class="list-group-item">
                            Каждый из участников получает по {{ Constants.tg_endowment|c }}.
                        </li>

                        <li class="list-group-item">
                            Участник А может послать участнику Б любую сумму от 0 до {{ Constants.tg_endowment_cents }}
                            центов (от 0$ до {{ Constants.tg_endowment|c }}).
                        </li>
                        <li class="list-group-item">
                            Cумма, отправленная участником А, будет умножена на <b>{{ Constants.tg_coef }}</b>.
                            Например, если участник А посылает участнику Б 50 центов, то участник Б получает 50*3=150
                            центов ($1,50).
                        </li>
                        <li class="list-group-item">
                            В свою очередь, Участник Б может вернуть назад участнику А любое число из полученной суммы.
                        </li>
                        {% if subsession.solo %}
                            <li class="list-group-item">
                                <b>Пример 1:</b> Участник А решил послать участнику Б 50 центов. Участник Б
                                получил 50*3=150 центов и 75 из них послал назад участнику А.
                                Участник А получит бонус 100-50+75 = 125 центов ($1,25). Участник Б получит:
                                100+150-75 =
                                175 центов ($1,75).
                            </li>
                            <li class="list-group-item">
                                <b>Пример 2:</b> Участник А решил ничего не посылать участнику Б.
                                Участник А получит бонус 100 центов ($1). Участник Б получит: 100 центов ($1.0).
                            </li>
                        {% else %}

                            <li class="list-group-item">
                                Участник Б может быть из любого из трех регионов России, которые принимают участие в
                                исследовании.
                            </li>
                            <li class="list-group-item">
                                Поэтому участнику А необходимо будет принять <b>три решения</b> - по одному для
                                каждого региона. Одно из этих решений определит бонус участника А: в зависимости от
                                того,
                                откуда будет участник Б.
                            </li>
                            <li class="list-group-item">
                                <b>Пример 1:</b> Участник А решил послать участнику Б из региона X 50 центов. Участник Б
                                получил 50*3=150 центов и 75 из них послал назад участнику А.
                                Участник А получит бонус 100-50+75 = 125 центов ($1,25). Участник Б получит:
                                100+150-75 =
                                175 центов ($1,75).
                            </li>
                            <li class="list-group-item">
                                <b>Пример 2:</b> Участник А решил ничего не посылать участнику Б из региона X.
                                Участник А получит бонус 100 центов ($1,00). Участник Б получит: 100 центов ($1,00).
                            </li>


                        {% endif %}
                        <li class="list-group-item font-weight-bold text-center">
                            Пример: возможные комбинации решений участника А и Б (попробуйте подвигать слайдеры):

                        </li>
                        <li class="list-group-item  ">
                            {% include 'cgtg/includes/tg_slider.html' %}

                        </li>
                    </ul>

        </div>
    </div>
</div>