{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Часть 2.
{% endblock %}
{% block content %}
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        Сейчас вы получите инструкции к <b>Части 2</b> исследования. Из двух частей исследования одна
                        будет выбрана случайным образом и вы получите бонус в зависимости от решений, которые вы
                        принимали в этой части. Нажмите "Далее" чтобы продолжить.
                    </li>
                </ul>

            </div>
        </div>
    </div>

    {% next_button %}
{% endblock %}
